*{
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
.header{
    width: 100%;
    height: 100vh;
    position: relative;
    perspective: 100rem;
    overflow: hidden;
}
.img-wrapper{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    overflow: hidden;
}

.img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* background-color: rgba(0, 0, 0, 0.9); */
    animation: scale 25s;
    
}

@keyframes scale{
 0%{
     transform: scale(1.3);
 }

 100%{
     transform: scale(1);
 }
}
.banner{
    position: absolute;
    top: 30%;
    left: 15%;
}
.banner h1{
    font-family: 'Baloo Da 2', sans-serif;
    font-size: 8rem;
    font-weight: 300;
    color: #fff;
    width: 60%;
    line-height: 9rem;
    letter-spacing: .2rem;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.4);
    animation:ban 1s .5s forwards;
    opacity: 0;
}

@keyframes ban{
    0%{
      transform: translateY(40rem)
      rotateY(-30deg);
      
    }
    100%{
        transform: translateY(0)
        rotateY(0);
        opacity: 1;
    }
}

.banner p{
    font-family: "Josefin Slab", serif;
    font-size: 4rem;
    color: #fff;
    animation:ban 1s .7s forwards;
    opacity: 0;
}

.banner button{
    width: 25rem;
    height: 7rem;
    align-items: center;
    border: none;
    font-family: "Mullish",sans-serif;
    font-size: 2rem;
    text-transform: uppercase;
    background-color: #c29525;
    text-shadow: 0 .2rem .4rem rgba(0, 0, 0, 0.2);
    box-shadow: 0 .3rem .5rem rgba(0, 0, 0, 0.4);
    color: #fff;
    cursor: pointer;
    margin-top: 1rem;
    opacity: 0;
    animation:ban 1s .9s forwards;
}

.hamburger-menu{
  /* position: relative; */
  width: 3rem;
  height: 3rem;
  /* background-color: red; */
  position: fixed;
  top: 3rem;
  right: 5rem;
  z-index: 200;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  cursor: pointer;
  transition: right .7s;
}
.change .hamburger-menu{
   right: 22rem;
    
}
.line{
    width: 100%;
    height: .1rem;
   background-color: #fff;
   cursor: pointer;
   border-radius: 2rem;
}
.hamburger-menu span{
    display: none;
}
.change .hamburger-menu span{
    /* visibility: hidden; */
    position: absolute;
    top: 1%;
    left: 5rem;
    width: 10rem;
    height: 4rem;
    background-color: #e2b646;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: 'Baloo Da 2', serif;
    font-size: 1.6rem;
    letter-spacing: 0.1rem;
}
.change .line-3{
    transform: rotate(-45deg)
    translate(0.3rem, -0.8rem);
 background-color: #c29525;
   
}
.change .line-1{
    transform: rotate(45deg)
    translate(0.3rem, 0.8rem);
    
    background-color: #c29525; 
}
.change .hamburger-menu span{
  visibility: visible;
  top: 2rem;
  right: 27rem;
}
/* Menu */

/* side bar */
.sidebar{
    width: 30rem;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -40rem;
    /* z-index: 300; */
    background-color: #fff;
    transition: right .5s;
    z-index: 100;
}
.change .sidebar{
    right: 0;
}
.menu{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.menu-item{
    margin: 2rem;
    text-align: center;
}
.menu-link{
    font-family: 'Baloo Da 2', serif;
   font-size: 4rem;
   color: #555;
   transition: color .3s;
   position: relative;
}
.menu-link:hover{
    color: #ecce82;
}
.menu-link::before{
    position: absolute;
    top: 0;
    left:0;
    content:attr(data-content);
    color: #c29525;
    white-space: nowrap;
    overflow: hidden;
}
.social-media{
    position: absolute;
    bottom: 3rem;
    left: 50%;
    /* width: 100%; */
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
}
.social-media i{
    font-size: 2.2rem;
    /* padding: 2rem; */
    margin: 2rem;
    width: 4.5rem;
    height: 4.5rem;
    background-color: #777;
    color: #fff;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background-color .3s;
}
.social-media i:hover{
    background-color: #c29525;
}

/* .line{
    width: 1rem;
    height: 1rem;
    background-color: sandybrown;
} */
/* end of side bar */

/* About us section-3 */

.about-us{
    width: 100%;
    height: 140vh;
    background-color: #f5f5f5;
    padding-bottom: 15rem;
    /* height: 100vh; */
}
.section-header{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding:7rem 0 10rem 0;

}
.section-heading{
  font-family: "Mullish", sans-serif;
  font-size: 5rem;
   font-weight: 300;
   color: #4b4b4b;
   margin-bottom: 6rem;
}
.underline{
 width: 12rem;
 height: 0.3rem;
 background-color: #c29525;
}
.services{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(6, 6rem);
    grid-row-gap: 4rem;
}
.service-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}
.service-header h3{
    font-family: 'Baloo Da 2', sans-serif;
    font-size: 2.6rem;
    line-height: 2.6rem;
    margin-bottom: 2rem;
}
.service-header i{
    font-size: 4rem;
    font-weight: 300;
    color:#4b4b4b;
    cursor: pointer;
}
.services-text{
    font-family: 'Josefin Slab', sans-serif;
    font-size: 1.6rem;
    text-align: justify;
    color: #000;
}
.service{
    width: 100%;
    margin-bottom: 2rem;
}
.service:nth-child(1){
   grid-column: 4/7;
   grid-row:1/3;
}
.service:nth-child(2){
   grid-column: 3/6;
   grid-row:3/5;
}
.service:nth-child(3){
   grid-column: 4/7;
   grid-row:5/-1;
}
.service:nth-child(4){
   grid-column: 11/14;
   grid-row:1/3;
}
.service:nth-child(5){
   grid-column: 12/15;
   grid-row:3/5;
}
.service:nth-child(6){
   grid-column: 11/14;
   grid-row:5/-1;
}
.about-us-img-wrapper{
    grid-column: 7/11;
    grid-row: 2/6;
}
.about-us-img-wrapper img{
    width: 100%;
    /* heigh: 40vth; */
    object-fit:cover;
    opacity: 0.8;
}
/* End of About us section-3 */
.our-tem{
    width: 100%;
    height: 130vh;
    margin-bottom: 4rem;
    padding: 0 5rem 20rem 5rem;
}

.card-wrapper{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   margin-top: 8rem;
   
    
}
.card{
    width: 37rem;
    height: 45rem;
    margin: 5rem;
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.4);
    position: relative;
    border-radius: 0.5rem;
}
.card img{
    width: 35rem;
    height: 45rem;
    margin-bottom: 2rem;
    align-items: center;
}
.card-img-wrapper{
    width: 100%;
    height: 100%;
    background-color: #262626;
    border-radius: 0.5rem;
}
.card-img-wrapper img{
    width:100%;
    height:100%;
    object-fit: cover;
    opacity: 0.8;
    border-radius: 0.5rem;
    transition: opacity .3s;
}
/* .card h2{
    visibility: hidden;
    opacity:0;
} */
.card:hover.card-img-wrapper img{
    opacity: 0.5;
}
.card-img-wrapper:hover img{
    
}
.card-info{
    position: absolute;
    bottom:0;
    padding: 2rem;
    text-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.4);
    opacity: 0;
    visibility: hidden;
    transition:all 0.3s;
}
.card:hover .card-info{
    bottom: 2rem;
    opacity: 1;
    visibility: visible;
}
.card-info h2{
    /* position: absolute;
    top: 40%;
    left: 5%; */
    font-family: "Baloo Da 2", serif;
    font-size: 2.5rem;
    line-height: 2.5rem;
    font-weight: 300;
    color:#eee;
}
.card-info h3{
    font-family: "Mullish", serif;
    font-size: 2rem;
    font-weight: 500;
    color:#a52a2a;
    margin-bottom: 1rem;

}
.card-info p{
    /* position: absolute;
    top: 45%;
    left: 5%; */
    font-family: "Baloo da 2", serif;
    font-size: 1.4rem;
    line-height:1.6rem;
    font-weight:300;
    font-size: 1.5rem;
    color:#eee;
    width:80%;
    margin-bottom:2rem;

}
.card-info button{
    /* position: absolute;
    top: 62%;
    left: 5%; */
    width: 10rem;
    height:3rem;
    border:none;
    background-color: #c29525;
    color:#fff;
    font-size: 1.4rem;
    font-family: "Baloo Da 2", serif;
    cursor: pointer;
    color:#eee;
    border-radius:.3rem;
    box-shadow: 0 .1rem .8rem rgba(0, 0, 0, 0.4);


}

/* Our Team section-3 */

/*End of Our Team section-3 */


/* Contact */
.contact{
    width: 100%;
    height: 100vh;
    /* margin-top: 5rem; */
    background-color: #272727;
}
.section-headercontact{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding:7rem 0 10rem 0; */
  
  }
  .headingcontact{
    font-family: "Mullish", sans-serif;
    font-size: 10rem;
     font-weight: 300;
     color: #4b4b4b;
     /* margin-bottom: 1rem; */
  }
.form-wrapper{
    width: 50rem;
    height: 100%;  
   position: relative;
}
.form-img img{
    width: 50%;
    height: 50rem;
    position: absolute;
    top: 30%;
    left:48rem;
}
.form-section{
    width: 100%;
    height: 50rem;
    position: absolute;
    top: 30%;
    left: 73rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e9d2e7;
    
}
.txt{
    width: 80%;
    height:5rem;
    border:none;
    border-bottom:0.2rem dashed #636363;
    margin-top:5rem;
    background-color: #e9d2e7;
    color:#000;  
    text-transform:uppercase;
    letter-spacing:0.0.1rem;
    padding: 1rem 1rem 1rem 0;
    font-family: "Mullish", serif;
    font-size:1.6rem;
    color:#4b4b4b;
}
.form-btn{
    width: 45rem;
    height: 5rem;
    margin-top:3rem;
    background-color:#c29525;
    border:none;
    letter-spacing: .2rem;
    cursor: pointer;
    text-transform: uppercase;
    text-shadow: 0.1rem 0.1rem .3rem rgba(0, 0, 0, 0.5);
}
/*End of Contact */

/* footer */
.footer{
    width: 100%;
    height: 15rem;
    background-color: #17181b;
    display: flex;
    /* flex-direction: calolumn; */
    justify-content: center;
    align-items: center;


}
.footer-contact{
    width: 60%;
    display: flex;
    justify-content: space-between;
    color: #fff;
}
.copyright{
font-family: "Baloo Da 2",serif;
font-size: 1.6rem;
color: #a7a7a7;
}
.social-list a{
    margin: 0 2rem;
/* color: #fff;
background-color: #fff; */
}
.social-list i{
    font-size: 2rem;
    color: #a7a7a7;
}
.scroll-btn{
    position: fixed;
    right: 5rem;
    bottom: 5rem;
    width:4.5rem;
    height:4.5rem;
    color:#fff;
    background-color: #c29525;
    align-items: center;
    box-shadow: 0 0.1rem 0.6rem rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    font-size: 2rem;
    /* position: relative; */
}
.scroll-btn i{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
    
}
/* End of footer */